/* *** pagina *** */
@import url(./general.css);
/* *** Interfaz *** */
@import url(./interace/start_menu.css);
/* *** estructura *** */
@import url(./interace/structure.css);
/* *** utils *** */
@import url(./interace/pop.css);
/* *** entitie *** */
@import url(./entities/index.css);
/* *** tiles *** */
@import url(./tiles/index.css);
/* *** particles *** */
@import url(./particles/index.css);
/* *** drops *** */
.drop {
  width: 30px;
  height: 30px;
  position: absolute;
}
.drop.blue {
  background-image: url(../assets/images/entities/gifts/blue/gift-blue.gif);
}
.drop.green {
  background-image: url(../assets/images/entities/gifts/green/gift-green.gif);
}
.drop.red {
  background-image: url(../assets/images/entities/gifts/red/gift-red.gif);
}
/* animaciones */

.blinking {
  animation: blink-animation 0.3s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    /*visibility: hidden;*/
    mix-blend-mode:color-burn;
    /*background-color: red;*/
  }
}
@keyframes stella {
  to {
    margin-left: -100px;
    width: 100px;
  }
}