.pop {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: -20px;
    top:0px;
    background-size: cover;
}
.left .pop {
    transform: scaleX(-1);
}
.broken-heart {
    background-image: url(../../assets/images/interface/broken-heart.png);
}