#project__container:not(.started) #game__container:not(.edit__mode) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maps__mode {
}
.map {
  height: 100px;
  width: 150px;
  background-color: gray;
  border: solid 3px rgb(214, 214, 214);
  color: rgb(214, 214, 214);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map:hover {
  border: solid 2px yellow;

}
.maps-list {
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-content: baseline;
}

#startMenu {
  margin: auto;
  z-index: 6;
  padding: 10px;
  list-style: none;
  text-align: center;
}
#startMenu h2 {
  text-shadow: 2px 0 orange, -2px 0 orange, 0 2px orange, 0 -2px orange,
               1px 1px orange, -1px -1px orange, 1px -1px orange, -1px 1px orange;
}
#startMenu li {
  margin-block: 2px;
  color: rgba(0, 0, 0, 0.537)
}
#startMenu li:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
#startMenu li:active {
  text-shadow: 2px 0 orange, -2px 0 orange, 0 2px orange, 0 -2px orange,
               1px 1px orange, -1px -1px orange, 1px -1px orange, -1px 1px orange;
}
#startMenu li:hover:before {
  content: ">";
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -20px;
}