#project__container {
  display: grid;
}

#game__container {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 450px;
  background-color: rgb(0, 0, 0);
  background-image: url(../../assets/images/backgrounds/bg-forest-2.png);
  background-size: cover;
}
#game__container::after, #game__container::before {
/*#game__container:not(.edit__mode):not(.maps__mode)::after {*/
  content: "";
  transition: 0.5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: x-large;
  color: white;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.338);
}
#game__container::before {
  content: "";
  opacity: 0;
  background-color: rgb(47, 3, 109);
  mix-blend-mode:darken;
}
#game__container.game__over::after {
  content: "Game Over";
  opacity: 1;
}
#game__container.game__paused::after {
  opacity: 1;
}
#game__container.game__loading::after {
  content: url(../../assets/images/interface/loading.gif);
  background-color: aliceblue;
  opacity: 1;
}
#game__container.changing::after {
  opacity: 1;
  background-color: #000000;
}
/* pause menu */
#game__pause-menu {
  transition: 0.5s;
  width: 200px;
  min-height: 390px;
  position: absolute;
  right: -210px;
  z-index: 6;
  border: solid 5px rgb(20, 34, 46);
  background-color: rgb(175, 196, 215);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.game__paused #game__pause-menu {
  right: 0px;
}
#game__pause-menu ul {
  width: 100%;
  list-style: none;
  cursor: pointer;
  padding: 0px;
}
#game__pause-menu li {
  padding-block: 10px;
  text-align: center;
}
#game__pause-menu li:hover {
  color: rgb(89, 101, 111);
  background-color: yellow;
}
/* navbar */
#game__navbar {
  height: 50px;
  overflow: hidden;
  background-image: url(../../assets/images/interface/nav-bar.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  transition: 0.3s;
}
#game__navbar div {
  opacity: 0;
  transition: 0.4s;
}

.started #game__navbar div {
  opacity: 1;
}

#game__maps {
  display: flex;
}
.map-item,
.map-item__disabled {
  width: 94px;
  height: 32px;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-item {
  background-image: url(../../assets/images/interface/map-item.png);
}
.map-item__disabled {
  background-image: url(../../assets/images/interface/map-item-disabled.png);
}
#game__actions {
  display: flex;
}
#game__actions div {
  width: 42px;
  height: 36px;
  cursor: pointer;
  background-size: cover;
}
#game__actions div::after {
  width: 40px;
  height: 33px;
  content: "";
  display: block;
  position: absolute;
  background-color: #00000054;
}
#game__actions div:hover::after {
  background-color: #ffffff00;
}
#game__actions div:active::after {
  border: solid 2px yellow;
  background-color: rgb(255, 255, 0);
  mix-blend-mode: color;
}
#game__reset {
  background-image: url(../../assets/images/interface/button-reset.png);
}
#game__pause {
  background-image: url(../../assets/images/interface/button-pause.png);
}
#game__pause.game__continue {
  background-image: url(../../assets/images/interface/button-continue.png);
}
/* bottom bar */
#game__bottombar {
  height: 70px;
  display: flex;
  align-items: center;
  width: 660px;
  margin-top: 50px;
  justify-content: space-between;
  padding-inline: 20px;
  position: absolute;
}
#game__bottombar div {
  opacity: 0;
  transition: 0.5s;
}
.started #game__bottombar div {
  opacity: 1;
}
#game__hearts {
  display: flex;
}
.heart {
  margin-inline: 3px;
  background-image: url(../../assets/images/interface/heart.png);
  height: 25px;
  width: 25px;
}
.heart__container {
  margin-inline: 3px;
  background-image: url(../../assets/images/interface/heart-container.png);
  height: 25px;
  width: 25px;
}
#game__items {
  display: flex;
}
.player_slot {
  margin-inline: 3px;
  width: 37px;
  height: 37px;
  background-image: url(../../assets/images/interface/slot.png);
}
#game__points {
  color: white;
  display: flex;
}
#game__points div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 5px;
}
#game__points div div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}
#game__points .coins div {
  background-image: url(../../assets/images/interface/coin.png);
}
#game__points .bullets div {
  background-image: url(../../assets/images/items/bullet.png);
}
