/* attack 2 */
#player[class*="attack-2"]::after {
    margin-top: -15px;
    margin-left: -5px;
  }
  
  #player.attack-2-frame-1::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-1.png);
  }
  #player.attack-2-frame-2::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-2.png);
  }
  #player.attack-2-frame-3::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-3.png);
  }
  #player.attack-2-frame-4::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-4.png);
  }
  #player.attack-2-frame-5::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-5.png);
  }
  #player.attack-2-frame-6::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-6.png);
  }
  #player.attack-2-frame-7::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-7.png);
  }
  #player.attack-2-frame-8::after {
      content: url(../../../assets/images/entities/player/axe/attack1/player-attack-8.png);
  }
  
  #player[class*="attack-2"] .axe__element {
    width: 90px;
    height: 60px;
    display: block;
  }
  
  #player.attack-2-frame-1 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella1.png);
    display: none;
  }
  #player.attack-2-frame-2 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella2.png);
    display: none;
  }
  #player.attack-2-frame-3 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella3.png);
  }
  #player.attack-2-frame-4 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella4.png);
  }
  #player.attack-2-frame-5 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella5.png);
  }
  #player.attack-2-frame-6 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella6.png);
  }
  #player.attack-2-frame-7 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella7.png);
  }
  #player.attack-2-frame-8 .axe__element{
    background-image: url(../../../assets/images/entities/player/axe/attack1-stella/attack1-stella8.png);
  }