.bullet {
  position: absolute;
  width: 20px;
  height: 10px;
  background-image: url(../../../assets/images/entities/bullet/bullet.png);
  background-repeat: no-repeat;
}
.bullet.broken {
  width: 10px;
  height: 10px;
  background-image: url(../../../assets/images/entities/bullet/broken-bullet.png);
  transform: rotate(300deg);
}
