#player {
  z-index: 1;
  width: 40px;
  height: 49px;
  position: absolute;
}
.left {
  transform: scaleX(-1);
}
#player::after {
  position: absolute;
  margin-top: -1px;
}
#player::before {
  content: "";
  position: absolute;
  border-radius: 90px;
}
#player.idle::after {
  content: url(../../../assets/images/entities/player/idle/idle-player.gif);
}
#player.run::after {
  content: url(../../../assets/images/entities/player/run/run-player.gif);
}
#player.jump::after {
  content: url(../../../assets/images/entities/player/jump/jump-player.png);
}
#player.fall::after {
  content: url(../../../assets/images/entities/player/fall/fall-player.png);
}
#player.shooting::after {
  content: url(../../../assets/images/entities/player/shot/shot-player.gif);
}
#player.run.shooting::after {
  content: url(../../../assets/images/entities/player/shot/shot-running-player.gif);
}
