.bush-small {
  background-image: url(../../assets/images/middleground/bush-small.png);
  mix-blend-mode: color-dodge;
}
.bush-small::before {
  content: "";
  margin: 25px;
  box-shadow: 0px 0px 100px 100px rgba(197, 157, 45, 0.52);
  background-color: rgba(197, 157, 45, 0.52);
  background-blend-mode:normal;
  animation: glowing 4s infinite;
}

.bush-small-creature {
  background-image: url(../../assets/images/middleground/bush-small-creature.png);
}

.tree {
  margin-top: -150px;
  margin-left: -50px;
  height: 200px;
  width: 150px;
  background-image: url(../../assets/images/middleground/tree.png);
}

.water-top {
  height: 50px;
  width: 50px;
  position: absolute;
  background-image: url(../../assets/images/middleground/water-top.gif);
  opacity: 0.5;

}

.water-solid {
  height: 50px;
  width: 50px;
  position: absolute;
  background-image: url(../../assets/images/middleground/water-solid.png);
  opacity: 0.5;

}
@keyframes glowing {
  0% {
    box-shadow: 0px 0px 100px 100px rgba(197, 157, 45, 0.52);

  }
  50% {
    box-shadow: 0px 0px 100px 50px rgba(197, 157, 45, 0.52);

  }
}