.hearts-mini_container {
    height: 25px;
    min-width: 30px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hearts-mini_container div{
    background-image: url(../../assets/images/interface/heart.png);
    background-size: cover;
    height: 10px;
    width: 10px;
    margin: -11px;
  }