#player {
  z-index: 1;
  width: 40px;
  height: 49px;
  position: absolute;
}
.left {
  transform: scaleX(-1);
}
#player::after {
  position: absolute;
  margin-top: -1px;
}
#player.idle::after {
  content: url(../../assets/images/entities/player/idle/idle-player.gif);
}
#player.run::after {
  content: url(../../assets/images/entities/player/run/run-player.gif);
}
#player.jump::after {
  content: url(../../assets/images/entities/player/jump/jump-player.png);
}
#player.fall::after {
  content: url(../../assets/images/entities/player/fall/fall-player.png);
}
#player.shooting::after {
  content: url(../../assets/images/entities/player/shot/shot-player.gif);
}
#player.run.shooting::after {
  content: url(../../assets/images/entities/player/shot/shot-running-player.gif);
}
/* * axe combo * */
.axe__element {
  position: absolute;
  display: none;
  width: 0px;
  height: 0px;
  top: 0px;
  left:0px;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 2;
}
/* attack 1 */
#player[class*="attack-1"]::after {
  margin-top: -15px;
  margin-left: -5px;
}

#player.attack-1-frame-1::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-1.png);
}
#player.attack-1-frame-2::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-2.png);
}
#player.attack-1-frame-3::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-3.png);
}
#player.attack-1-frame-4::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-4.png);
}
#player.attack-1-frame-5::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-5.png);
}
#player.attack-1-frame-6::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-6.png);
}
#player.attack-1-frame-7::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-7.png);
}
#player.attack-1-frame-8::after {
    content: url(../../assets/images/entities/player/axe/attack1/player-attack-8.png);
}

#player[class*="attack-1"] .axe__element {
  width: 90px;
  height: 60px;
  display: block;
}

#player.attack-1-frame-1 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella1.png);
  display: none;
}
#player.attack-1-frame-2 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella2.png);
  display: none;
}
#player.attack-1-frame-3 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella3.png);
}
#player.attack-1-frame-4 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella4.png);
}
#player.attack-1-frame-5 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella5.png);
}
#player.attack-1-frame-6 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella6.png);
}
#player.attack-1-frame-7 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella7.png);
}
#player.attack-1-frame-8 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack1-stella/attack1-stella8.png);
}
/* attack 2 */
#player[class*="attack-2"]::after {
  margin-top: -15px;
  margin-left: -5px;
}

#player.attack-2-frame-1::after {
    content: url(../../assets/images/entities/player/axe/attack2/player-attack-1.png);
}
#player.attack-2-frame-2::after {
    content: url(../../assets/images/entities/player/axe/attack2/player-attack-2.png);
}
#player.attack-2-frame-3::after {
    content: url(../../assets/images/entities/player/axe/attack2/player-attack-3.png);
}
#player.attack-2-frame-4::after {
    content: url(../../assets/images/entities/player/axe/attack2/player-attack-4.png);
}
#player.attack-2-frame-5::after {
    content: url(../../assets/images/entities/player/axe/attack2/player-attack-5.png);
}
#player.attack-2-frame-6::after {
    content: url(../../assets/images/entities/player/axe/attack2/player-attack-6.png);
}

#player[class*="attack-2"] .axe__element {
  width: 90px;
  height: 70px;
  display: block;
}
#player.attack-2-frame-1 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack2-stella/attack2-stella1.png);
  display: none;
}
#player.attack-2-frame-2 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack2-stella/attack2-stella2.png);
  display: none;
}
#player.attack-2-frame-3 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack2-stella/attack2-stella3.png);
}
#player.attack-2-frame-4 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack2-stella/attack2-stella4.png);
}
#player.attack-2-frame-5 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack2-stella/attack2-stella5.png);
  display: none;
}
#player.attack-2-frame-6 .axe__element{
  background-image: url(../../assets/images/entities/player/axe/attack2-stella/attack2-stella6.png);
  display: none;
}

/* * bullet * */
.bullet {
  position: absolute;
  width: 20px;
  height: 10px;
  background-image: url(../../assets/images/entities/bullet/bullet.png);
  background-repeat: no-repeat;
}
.bullet:not(.broken)::after {
  content: "";
  animation: stella 1s;
  margin-left: -20px;
  background-image: linear-gradient(
    to Left,
    rgba(255, 255, 255, 0.59),
    rgba(255, 255, 255, 0.155)
  );
  position: absolute;
  height: 10px;
  width: 20px;
}
.bullet.broken {
  width: 10px;
  height: 10px;
  background-image: url(../../assets/images/entities/bullet/broken-bullet.png);
}
