@import url(./run.css);

.dust {
    background-image: url(../../assets/images/particles/particle.png);
    /*background-image: radial-gradient(aliceblue, white,transparent);*/
    background-size:cover;
    background-position: center;
    position: absolute;
    width: 6px;
    height: 5px;
    z-index: 0;
}
.blood {
    background-color: red;
    position: absolute;
    border-radius: 90px;
    width: 5px;
    height: 5px;
    z-index: 1;
}